html {
  position: static;
  height: 100%;
  width: auto;
}

* {
  font-family: 'Press Start 2P', cursive;
}
canvas {
  width: 70%;
  border: white 3px solid;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

body {
  background-color: black;
}

.canvas-section > * {
  display: inline-block;
  height: auto;
}

.canvas-section {
  clear: both;
  width: 100%;
  height: auto;
  color: white;
  position: relative;
  display: block;
}
 .dash {
   width: 70%;
   margin: 3% auto;
   padding: 25px;
 }

 .dash > div {
   display: inline-block;
   color: white;
   font-family: 'Press Start 2P', cursive;
 }

 .Points {
   float: right;
 }

 .game-over {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Press Start 2P';
  border: 1px white solid;
  padding: 30px;
  z-index: 9999;
  background-color: black;
  text-align: center;
 }

 a.reload {
  border: 1px white solid;
  padding: 6px;
  text-decoration: none;
  color: white;
}

 a.reload:hover {
   color: black;
   background-color: yellow;
 }

 div.Instructions:hover {
   background-color: gray;
 }

 div.Instructions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px white solid;
  padding: 8px;
 }

 a.instructions {
   text-decoration: none;
   color: white;
 }

 .modalDialog {
    position: fixed;
    font-family: courier;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
    height: auto;
}
.modalDialog > div {
  width: 800px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  color: white;
  background-color: black;
  border: 2px solid white;
}

.close {
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  width: 24px;
  right: 0;
  text-decoration: none;
  font-weight: bold;
}

.start-button:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px;
}
