html {
  position: static;
  height: 100%;
  width: auto;
}

canvas {
  width: 70%;
  border: white 3px solid;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

body {
  background-color: black;
}

.canvas-section > * {
  display: inline-block;
  height: auto;
}

.canvas-section {
  clear: both;
  width: 100%;
  height: auto;
  color: white;
  position: static;
  display: block;
}
 .dash {
   width: 70%;
   margin: auto;
   padding: 25px;
 }

 .dash > div {
   display: inline-block;
   color: white;
   font-family: 'Press Start 2P', cursive;
 }

 .Points {
   float: right;
 }

 .game-over {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Press Start 2P';
  border: 1px white solid;
  padding: 30px;
  z-index: 9999;
  background-color: black;
  text-align: center;
 }

 a.reload {
  border: 1px white solid;
  padding: 6px;
  text-decoration: none;
  color: white;
}

 a.reload:hover {
   color: black;
   background-color: yellow;
 }
