html {
  position: static;
  height: 100%;
  width: auto;
}

canvas {
  height: 400px;
  border: 3px white solid;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  display: block;
}

body {
  position: static;
  height: 100%;
  background-color: black;
}

.dash {
  color: white;
  position: absolute;
  top: 500px;
}
